.threadCard {
  display: grid;
  grid-gap: 0.7rem;
}
.threadItem {
  background-color: rgb(27, 27, 27);
  border: 1px solid rgb(69, 69, 69);
  border-radius: 0.2rem;
}
.threadContent {
  margin-left: 1rem;
  margin-top: -0.5rem;
}

.threadTitle {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 700;
}
.date {
  color: #ffffff;
}
.threadItem:hover {
  border: 1px solid rgb(145, 145, 145);
}
