.mainNavigation {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
  gap: 10px;
  padding: 4rem;
}

.siteNavigation,
.personalNavigation {
  display: grid;
  grid-auto-flow: column;
  list-style: none;
  justify-content: center;
  padding: 0 10px;
}

.personalNavigation li,
.leftNavigation li {
  margin: 0 10px;
}

.rightNavigation {
  display: grid;
  place-items: center;
  background-color: rgb(117, 117, 117);
  border-top-right-radius: 1.7rem;
  border-bottom-right-radius: 1.7rem;
  padding-right: 0.9rem;
  align-self: start;
  justify-self: start;
  margin-left: -20px;
  padding-left: 0.7rem;
}

.leftNavigation {
  display: grid;
  place-items: center;
  background-color: rgb(117, 117, 117);
  border-top-left-radius: 1.7rem;
  border-bottom-left-radius: 1.7rem;
  padding-right: 0.8rem;
  align-self: start;
  justify-self: end;
  margin-right: -20px;
}

.personalNavigation a,
.leftNavigation a {
  color: white;
  text-decoration: none;
  font-weight: 900;
  cursor: pointer;
}

.navigationItem {
  color: white;
  text-decoration: none;
  font-weight: 900;
  cursor: pointer;
  letter-spacing: 0.15rem;
}

.navigationItem.active {
  color: black;
}

.centerNavigation {
  grid-column: 2;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0) 65%,
    rgb(121, 121, 121) 85%,
    rgb(117, 117, 117) 100%
  );
  border-bottom-left-radius: 20rem;
  border-bottom-right-radius: 20rem;
  height: 16rem;
  width: 20rem;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  z-index: 1;
}
.navigationItem:hover {
  color: rgba(0, 0, 0);
}

.navigationItem.active:hover {
  color: rgb(255, 255, 255);
}
