.navigation {
  background-color: rgba(255, 0, 0, 0.94);
  display: grid;
  height: 68px;
}

.mainNavigation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: end;
}
.secondaryNavigation {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-self: end;
}

.navigationList {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-self: start;
}

.navigationItem {
  margin-left: 1rem;
}
