@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:200,900");
.pageContainer {
  display: grid;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 10rem;
}
.threadCard {
  display: grid;
  grid-gap: 0.7rem;
}

.threadItem {
  overflow: hidden;
  background-color: rgb(27, 27, 27);
  border: 1px solid rgb(69, 69, 69);
  border-radius: 0.2rem;
}

.threadContent {
  padding-left: 1rem;
  margin-top: -0.5rem;
  position: relative;
}

.threadTitle {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 700;
}
.threadText {
  color: #ffffff;
}

.date {
  color: #ffffff;
}

.bar {
  display: grid;
  align-content: center;
  bottom: 0;
  margin-left: -1rem;
  width: 102%;
  height: 2rem;
  color: #161616;
  background-color: rgb(22, 22, 22);
}
.author {
  font-size: 0.7rem;
  color: #c0c0c0;
  padding-left: 0.5rem;
  /* padding-bottom: 0.5rem; */
}
