.title {
  color: #e5e5e5;
  font-weight: bold;
  font-size: 0.8rem;
}
.segment {
  /* background: transparent; make scrollbar transparent */
  overflow: hidden;
  position: relative;
}
.segmentCards {
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.buttonLeft {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  /* position: absolute; */
}
.buttonRight {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  /* position: absolute; */
}
.buttonContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
::-webkit-scrollbar {
  /* -webkit-appearance: none; */
  width: 0;
  height: 0;
}
