.enterThreadButton {
  overflow: hidden;
  position: relative;
  display: grid;
  width: 10rem;
  height: 10rem;
  padding: auto;
  border-radius: 50%;
  background: rgb(72, 72, 72);
  box-shadow: 0 0 30px 0 #ffffff inset;
}

.bubble:hover {
  animation: black-heart 3s ease 0s infinite;
}

.enterThreadButton:hover {
  background: rgb(255, 255, 255);
  box-shadow: 0 0 30px 0 #000000 inset;
  box-shadow: 0 0 30px 0 #ffffff;
}
.bubble:focus,
.black_heart:focus,
.heart_container:focus,
.enterThreadButton:focus {
  background: rgb(0, 0, 0);

  box-shadow: 0 0 30px 0 #000000 inset;
}

.black_heart {
  /* backface-visibility: hidden; */
  z-index: 20;
  position: absolute;
  overflow: hidden;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  padding: 0;
  box-shadow: 0 0 15px 0 #9b9b9b inset;
}
.black_heart .heart_container {
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  filter: url(#black-heart);
  width: 10rem;
  height: 10rem;
  padding: 0;
  margin-left: -0.7rem;
  margin-top: -0.5rem;
  box-shadow: 0 0 0 10px #000000 inset;
}
.black_heart .heart_container .bubble {
  display: block;
  position: absolute;
  top: 30%;
  left: 32%;
  /* text-align: right; */
}
.black_heart .heart_container .bubble:before {
  content: "";
  animation: rotation 7s infinite linear;
  display: inline-block;
  background: #000000;
  width: 3.7rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: 0 0 5px 2.5px #ffffff;
}
/* .bubble:hover {
  animation: black-heart 3s ease 0s infinite;
} */

/*
------------------------
    ANIMATION FRAMES
------------------------
*/

@keyframes black-heart {
  0% {
    transform: scale(1.5) translate3d(1px, 0, 0);
    /* background: rgb(0, 0, 0); */
  }
  65% {
    transform: scale(1.5) translate3d(-1px, 0, 0);
    /* background: rgb(0, 0, 0); */
  }
  70% {
    transform: scale(1.6) translate3d(1px, 0, 0);
    /* background: rgb(255, 0, 0) 2rem; */
  }
  75% {
    transform: scale(1.5) translate3d(-1px, 0, 0);
    /* background: rgb(0, 0, 0); */
  }
  80% {
    transform: scale(1.6) translate3d(1px, 0, 0);
    /* background: rgb(255, 0, 0); */
  }
  85% {
    transform: scale(1.5) translate3d(-1px, 0, 0);
    /* background: rgb(0, 0, 0); */
  }
  100% {
    transform: scale(1.5) translate3d(1px, 0, 0);
    /* background: rgb(0, 0, 0); */
  }
}
@keyframes rotation {
  0% {
    transform: translate3d(0.1rem, 0, 0);
    transform: rotate(-0deg);
  }
  30% {
    transform: rotate(-180deg);
  }
  65% {
    transform: translate3d(-0.2rem, 0, 0);
    background: rgb(58, 58, 58);
  }
  70% {
    transform: translate3d(0.1rem, 0, 0);
  }
  75% {
    transform: translate3d(-0.2rem, 0, 0);
    background: rgb(62, 62, 62);
  }
  80% {
    transform: translate3d(0.1rem, 0, 0);
  }
  85% {
    transform: translate3d(-0.2rem, 0, 0);
    background: rgb(0, 0, 0);
  }
  100% {
    transform: translate3d(0.1rem, 0, 0);
    transform: rotate(-359deg);
  }
}
