body {
  background-color: #343535;
  margin: 0;
}

.card-grid {
  display: grid;
  /* auto auto is telling the browser to render two rows, if needed */
  grid-template-rows: auto;
  grid-auto-flow: column;
  /* overflow-x: scroll; */
  grid-gap: 0.3rem;
  overflow-x: scroll;
  scroll-behavior: smooth;
  background: transparent; /* make scrollbar transparent */
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0;
  height: 0;
}

.card {
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  background-color: rgb(110, 80, 47);
  height: 15rem;
  width: 10rem;
  transform-style: preserve-3d;
  transition: 150ms;
  cursor: pointer;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
}
.card:hover {
  --translate-y: -2px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  /* transform: rotateX(20deg) rotateY(170deg); */
}

.card.flip {
  --rotate-y: 180deg;
}

.card .front {
  left: 0;
}

.card .front,
.card .back {
  position: absolute;
  padding: 2rem;
  backface-visibility: hidden;
}
.card .back {
  transform: rotateY(180deg);
}
